@(currentUserOpt: Option[User])(implicit messages: Messages, flash: Flash, request: RequestHeader)

<header>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
                <!-- 中略 -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @if(currentUserOpt.isDefined) {
                        <li class="dropdown">
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@routes.UsersController.show(currentUserOpt.get.id.get)">@Messages("MyPage")</a>
                                </li>
                                @if(currentUserOpt.isDefined) {
                                    <li>
                                        <a href="@routes.ItemsController.index(None)">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                            @Messages("AddItem")
                                        </a>
                                    </li>
                                        <!-- 中略 -->
                                } else {
                                    <li><a href="@routes.SignUpController.index()">@Messages("Register")</a></li>
                                    <li><a href="@routes.AuthController.index()">@Messages("LogIn")</a></li>
                                }
                            </ul>
                        </li>
                    } else {
                        <li><a href="@routes.SignUpController.index()">@Messages("Register")</a></li>
                        <li><a href="@routes.AuthController.index()">@Messages("LogIn")</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>